KUSAKARI_DB_USER=kusakari
KUSAKARI_DB_PASSWORD='replace-me'
KUSAKARI_DATABASE_MODE=existing
KUSAKARI_DB_PORT=3306
KUSAKARI_DB_URL=jdbc:mysql://127.0.0.1:3306/kusakari?connectionTimeZone=UTC
KUSAKARI_E2E_DB_URL=jdbc:mysql://127.0.0.1:3306/kusakari_e2e?connectionTimeZone=UTC
